<section ng-controller="ProjectsController">
  <div class="page-header">
    <h1>New Project</h1>
  </div>
  <div class="col-md-12">
    <form name="projectForm" class="form-horizontal" ng-submit="create(projectForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="projectname">Project Name</label>
          <input name="projectname" type="text" ng-model="projectname" id="projectname" class="form-control" placeholder="Project Name" required>
          <div ng-messages="projectForm.projectname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project Name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="projectowner">Project Owner</label>
          <input name="projectname" type="text" ng-model="projectowner" id="projectowner" class="form-control" placeholder="Project Owner" required>
        </div>
        <!--<div class="form-group">
          <label for="startdate">Start Date</label>
          <input name="startdate" type="text" ng-model="startdate" id="startdate" class="form-control" placeholder="Start Date" required>
        </div>
        <div class="form-group">
          <label for="finishdate">Finish Date</label>
          <input name="finishdate" type="text" ng-model="finishdate" id="finishdate" class="form-control" placeholder="Finish Date" required>
        </div>-->

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
