<section>
  <div class="page-header">
    <h1>Setups</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="setup in vm.setups"
       data-ui-sref="setups.view({ setupId: setup._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="setup.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="setup.user" data-ng-bind="setup.user.displayName"></span>
        <span data-ng-if="!setup.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="setup.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.setups.$resolved && !vm.setups.length">
    No Setups yet, why don't you <a data-ui-sref="setups.create">create one</a>?
  </div>
</section>
